<!DOCTYPE html>
<html>
<head>
    <title>포스텍 개발자 다모임</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
   
</head>

<body>
    <div class="auth" style="font-size:20px; color:white">  <%= user_nickname %> </div>
    <% let islogined; %>
    <% if(user_nickname != ''){ %>
        <div class="auth"><a href="/auth/logout" class="lettering" style="font-size:20px">logout</a></div>
    <% } else{ %>

        <% } %>

        <h1 class="title" ><a href="/" class="lettering">포스텍 개발자 다모임</a></h1>
        <div class="auth" ><a href="/auth/loginpage" class = "lettering" style="font-size:30px">로그인</a></div>
        <div class="auth" ><a href="/auth/registerpage" class="lettering" style="font-size:30px">회원가입</a></div>
    
<div class="container">
    <div id="study"><a href="/study" class="lettering" style="font-size:40px; color:black">스터디 모집 </a></div>
    <div id="query"><a href="/qna" class="lettering" style="font-size:40px; color:black"> 질문 게시판</a></div>    
</div>




</body>


</html>