<!DOCTYPE html>
<html>
<head>
    <title>포스텍 개발자 다모임</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
    <div style="text-align: right"><%= user_nickname %></div>
    <% let islogined; %>
    <% if(user_nickname != ''){ %>
        <div style="text-align: right"><a href="/auth/logout">logout</a></div>
    <% } else{ %>

        <% } %>

        <h1 class="title" ><a href="/" class="lettering">포스텍 개발자 다모임</a></h1>
        <div class="auth" ><a href="/auth/loginpage" class = "lettering" style="font-size:30px">로그인</a></div>
        <div class="auth" ><a href="/auth/registerpage" class="lettering" style="font-size:30px">회원가입</a></div>
    
<div class="container">
    <div id="study"><a href="/study" class="lettering" style="font-size:40px; color:black">스터디 모집 </a></div>
    <div id="query"><a href="/qna" class="lettering" style="font-size:40px; color:black"> 질문 게시판</a></div>    
</div>




</body>


</html>