<!DOCTYPE html>
<html>
<head>
    <title>포스텍 개발자 다모임</title>
    
</head>

<body>
    <h1 style="text-align: center"><a href="/">포스텍 개발자 다모임</a></h1>
    <h3 style="text-align: right"><a href="/auth/loginpage">로그인</a></h3>
    <h3 style="text-align: right"><a href="/auth/registerpage">회원가입</a></h3>

<a href="/study">스터디 모집 </a>
<a href="/qna"> 질문 게시판</a>

</body>


</html>