<!DOCTYPE html>
<html>
<head>
    <title>포개다 회원가입</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <h1 class="title"><a href="/" class="lettering">포스텍 개발자 다모임</a></h1>
    
<form action="/auth/register" method="post" class="signin_box">
    <h3 style="float: center"><%= error %></h3>
    <fieldset class="sign"> 
        <legend>회원가입</legend>
        <ul class="info">
            <li> <label class="reg" for="email"> 이메일 <em> * </em> </label>
                <input type="text" id="email" name="email" size="20" autocomplete="on" required>
            </li>
            <li> <label class="reg" for="new_pw1"> 비밀번호 <em> * </em> </label>
                <input type="password" id="new_pw1" name="new_pw1" size="20" required>
            </li>
            <li> <label class="reg" for="new_pw2"> 비밀번호 확인 <em> * </em> </label>
                <input type="password" id="new_pw2" name="new_pw2" size="20" required>
            </li>
            <li> <label class="reg" for="nickname"> nickname <em> * </em> </label>
                <input type="text" id="nickname" name="nickname" size="20" required>
            </li>
        </ul>
        <input type="submit" value="가입하기" style="margin-left:300px">
        <img src="\stylesheets\signup_ponix.png" width="50%" height="70%" style="margin-left:200px" alt = "signup_ponix">
</form>


</body>


</html>