<!DOCTYPE html>

<head>
    <title>새 스터디 만들기</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    
    <h1 class="title"><a href="/" class="lettering">포스텍 개발자 다모임</a></h1>
    <div class="auth" style="text-align:left; padding-bottom:15px; margin-bottom:15px;"><a href="/study" class="lettering" style="font-size:20px; padding-left: 30px;">스터디 모집 </a></div>


        <form action="/study/new" method="post" class="signin_box">
        <fieldset class="sign" style="padding-left:20px">
            <h2>제목</h2>
            <p><input type="text" name="title" placeholder="제목"></p>
            <h2>내용</h2>
            <p><textarea class="desc" name="description" placeholder="내용"> </textarea></p>
            <br>
            <input type="submit" value="새 스터디 만들기">
            </form>

</body>